.about {
  background-color: rgb(180, 184, 171);
  color: rgb(21, 50, 67);
}

.s-card {
  margin: 20px;
}

.s-card-image {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 380px;
  height: 300px;
  box-shadow: 0px 0p 3px 1px #ccc;
}

.s-card-info {
  margin-top: 10px;
  min-height: 100px;
  border: solid rgb(21, 50, 67) 2px;
  text-align: center;
  background-color: rgb(240, 100, 73);
  color: rgb(21, 50, 67);
}

.s-card-title {
  font-size: 24px;
  margin: 0px;
}

.s-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.viewBtn {
  color: rgb(21, 50, 67);
  text-decoration: none;
}